USE [master]
GO
/****** Object:  Database [ProjectJavaWeb]    Script Date: 10/26/2017 11:54:53 AM ******/
CREATE DATABASE [ProjectJavaWeb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ProjectJavaWeb', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\ProjectJavaWeb.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'ProjectJavaWeb_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\ProjectJavaWeb_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ProjectJavaWeb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ProjectJavaWeb]
GO
/****** Object:  Table [dbo].[AccountTBL]    Script Date: 10/26/2017 11:54:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AccountTBL](
	[AccID] [int] IDENTITY(1,1) NOT NULL,
	[Account] [nchar](15) NOT NULL,
	[Password] [nchar](15) NOT NULL,
 CONSTRAINT [PK_AccountTBL] PRIMARY KEY CLUSTERED 
(
	[AccID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AddressTBL]    Script Date: 10/26/2017 11:54:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AddressTBL](
	[UserID] [int] NOT NULL,
	[City] [nchar](10) NOT NULL,
	[Address] [nchar](30) NOT NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CategoryTBL]    Script Date: 10/26/2017 11:54:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CategoryTBL](
	[CategoryID] [int] IDENTITY(1,1) NOT NULL,
	[CategoryName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_CategoryTBL] PRIMARY KEY CLUSTERED 
(
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[OrderLineTBL]    Script Date: 10/26/2017 11:54:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderLineTBL](
	[OrderID] [int] NOT NULL,
	[ProductID] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[UnitPrice] [int] NOT NULL,
 CONSTRAINT [PK_OrderLineTBL] PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC,
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[OrderTBL]    Script Date: 10/26/2017 11:54:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderTBL](
	[OrderID] [int] IDENTITY(1,1) NOT NULL,
	[OrderDate] [datetime] NOT NULL,
	[UserID] [int] NOT NULL,
	[Payment] [nchar](10) NULL,
	[Status] [nchar](10) NOT NULL,
 CONSTRAINT [PK_OrderTBL] PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ProductTBL]    Script Date: 10/26/2017 11:54:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductTBL](
	[ProductID] [int] IDENTITY(1,1) NOT NULL,
	[ProductName] [nvarchar](50) NOT NULL,
	[UnitPrice] [money] NOT NULL,
	[SalePercent] [int] NOT NULL,
	[Stock] [int] NOT NULL,
	[SoldNumber] [int] NOT NULL,
	[CategoryID] [int] NOT NULL,
	[SubCategoryID] [int] NOT NULL,
	[Description] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_ProductTBL] PRIMARY KEY CLUSTERED 
(
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SubCategoryTBL]    Script Date: 10/26/2017 11:54:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SubCategoryTBL](
	[SubCategoryID] [int] IDENTITY(1,1) NOT NULL,
	[CategoryID] [int] NOT NULL,
	[SubCategoryName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_SubCategoryTBL] PRIMARY KEY CLUSTERED 
(
	[SubCategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[UserTBL]    Script Date: 10/26/2017 11:54:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserTBL](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](50) NOT NULL,
	[AccID] [int] NULL,
	[PhoneNumber] [nchar](15) NOT NULL,
 CONSTRAINT [PK_UserTBL] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[AddressTBL]  WITH CHECK ADD  CONSTRAINT [FK_AddressTBL_UserTBL] FOREIGN KEY([UserID])
REFERENCES [dbo].[UserTBL] ([UserID])
GO
ALTER TABLE [dbo].[AddressTBL] CHECK CONSTRAINT [FK_AddressTBL_UserTBL]
GO
ALTER TABLE [dbo].[OrderLineTBL]  WITH CHECK ADD  CONSTRAINT [FK_OrderLineTBL_OrderTBL] FOREIGN KEY([OrderID])
REFERENCES [dbo].[OrderTBL] ([OrderID])
GO
ALTER TABLE [dbo].[OrderLineTBL] CHECK CONSTRAINT [FK_OrderLineTBL_OrderTBL]
GO
ALTER TABLE [dbo].[OrderLineTBL]  WITH CHECK ADD  CONSTRAINT [FK_OrderLineTBL_ProductTBL] FOREIGN KEY([ProductID])
REFERENCES [dbo].[ProductTBL] ([ProductID])
GO
ALTER TABLE [dbo].[OrderLineTBL] CHECK CONSTRAINT [FK_OrderLineTBL_ProductTBL]
GO
ALTER TABLE [dbo].[OrderTBL]  WITH CHECK ADD  CONSTRAINT [FK_OrderTBL_UserTBL] FOREIGN KEY([UserID])
REFERENCES [dbo].[UserTBL] ([UserID])
GO
ALTER TABLE [dbo].[OrderTBL] CHECK CONSTRAINT [FK_OrderTBL_UserTBL]
GO
ALTER TABLE [dbo].[ProductTBL]  WITH CHECK ADD  CONSTRAINT [FK_ProductTBL_CategoryTBL] FOREIGN KEY([CategoryID])
REFERENCES [dbo].[CategoryTBL] ([CategoryID])
GO
ALTER TABLE [dbo].[ProductTBL] CHECK CONSTRAINT [FK_ProductTBL_CategoryTBL]
GO
ALTER TABLE [dbo].[ProductTBL]  WITH CHECK ADD  CONSTRAINT [FK_ProductTBL_SubCategoryTBL] FOREIGN KEY([SubCategoryID])
REFERENCES [dbo].[SubCategoryTBL] ([SubCategoryID])
GO
ALTER TABLE [dbo].[ProductTBL] CHECK CONSTRAINT [FK_ProductTBL_SubCategoryTBL]
GO
ALTER TABLE [dbo].[SubCategoryTBL]  WITH CHECK ADD  CONSTRAINT [FK_SubCategoryTBL_CategoryTBL] FOREIGN KEY([CategoryID])
REFERENCES [dbo].[CategoryTBL] ([CategoryID])
GO
ALTER TABLE [dbo].[SubCategoryTBL] CHECK CONSTRAINT [FK_SubCategoryTBL_CategoryTBL]
GO
ALTER TABLE [dbo].[UserTBL]  WITH CHECK ADD  CONSTRAINT [FK_UserTBL_AccountTBL] FOREIGN KEY([AccID])
REFERENCES [dbo].[AccountTBL] ([AccID])
GO
ALTER TABLE [dbo].[UserTBL] CHECK CONSTRAINT [FK_UserTBL_AccountTBL]
GO
USE [master]
GO
